<mat-tab-group>
  <mat-tab label="Categories">
    <ng-template matTabContent>         
    <app-generic-entity [service]="catService" [title]="'Categories'">
    </app-generic-entity>
  </ng-template>
</mat-tab>
  <mat-tab label="Brands">
    <ng-template matTabContent><app-brandList></app-brandList></ng-template>
  </mat-tab>
  <mat-tab label="Towns" >
    <ng-template matTabContent><app-generic-entity [service]="townService" [title]="'Towns'"></app-generic-entity></ng-template>
  </mat-tab>
  <mat-tab label="Users" >
    <ng-template matTabContent><app-users></app-users></ng-template>
  </mat-tab>
</mat-tab-group>