a{    
    text-decoration: none;  
    color: white;  
}

#loginEmail, #loginPassword{
    font-size: 14px;
    margin-bottom: -1.25em;
}


.router-link-active{
    color: tomato;
    line-height: 35px;
}