 @import 'bootstrap-grid.min.css';
/* @import 'bootstrap-reboot.min.css';  */

html  { height: 100%; margin: 0; }

body { 
    height: 100%;
    padding: 0;
    margin: 0; 
    font-family: 'Abel', sans-serif !important;
    font-size: 1rem!important; 
    background-color: #f5f5f5;
}

td{
    font-size: 1.1rem!important;
}

p {
    font-family: 'Abel', sans-serif !important;
    font-weight: 500;
    font-size: 1.2rem;
}



.hidden{
    visibility: hidden;
}




#loginEmail{
    padding-bottom: 0!important;
    padding-top: 0!important;
}

input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset !important; } 
input:-webkit-autofill:focus { -webkit-box-shadow: 0 0 0 1000px white inset !important; }

.mat-header-cell{
    font-size: large;
    font-weight: bold;
}

.mat-no-padding .mat-form-field-wrapper{
    padding: 0!important;
}

.mat-no-padding .mat-form-field-infix {
    padding: 0!important;
    border-top: 0;
}


.messageBox .mat-form-field-infix{
    padding-top: 12px!important;
    border-top: 2px!important;
    padding-bottom: 12px!important;
}

.user-description-mat-list-item span{
    display: inline-block;
}
.user-description-mat-list-item .mat-list-item-content{
    display: flex;
    justify-content: space-between;
}

.cdk-virtual-scroll-content-wrapper{
    width: 100%!important;    
}


.mat-card-header-text div{
    text-align: center!important;
}


.card-header-for-tiles div{
    width: 100%!important;
}

.card-header-for-tiles .mat-card-header-text{
    width: 1px!important;
    margin: 0!important;
}

.for-tiles-text-center{
    text-align: center!important;
}

.mx-auto.col-md-8.position-relative{
    padding-left: 0%;
    padding-right: 0%;
}

.userroles-selection .mat-list-item-content.mat-list-item-content-reverse {
    padding-left: 0!important;
}