<div class="container">
  <div  *ngIf="advert" class="row" >   
    <div class="col-lg-6">
      <mat-card >

        <mat-card-header class="d-flex justify-content-between">
          <mat-card-title class="">
              {{ advert.title }}
          </mat-card-title>        
          <mat-chip-list>
            Price :  
            <mat-chip color="warn" selected>
              {{ advert.price | currency }}            
            </mat-chip>              
            
          </mat-chip-list>
        </mat-card-header>


        <div class="m-1" style="width: 100%; padding-top: 100%; background-color: rgba(255, 208, 107, 0.52); position: relative">
          <img style="width:100%; height: 100%;display: block; position:absolute; top:0; left:0; object-fit: cover; " *ngIf="advert && advert.photoUrls.length > 0"
          [src]="baseUrlForImages + advert.id + '/large/' + selectedImage" class="d-inline-block">
        </div>

        <div style="width: 150px; height: 150px; overflow: hidden; cursor: pointer;" *ngFor="let photoUrl of advert.photoUrls" class="d-inline-block m-2" (click)="changeSelectedImage(photoUrl)">
          <img  style="width: 100%; height: 100%; object-fit: cover ;" 
          [src]="baseUrlForImages + advert.id + '/small/' + photoUrl" class="d-inline-block" [ngClass]="photoUrl == selectedImage ? 'img-border' : ''">
        </div>

      </mat-card>
    </div>  

    <div class="col-lg-6">
      <app-userInfo [userId]="advert.userId" [detailedMode]="false">        
      </app-userInfo>
      <mat-card class="mt-3">
        <mat-card-header>
          <mat-card-title>
            Description:
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="ad-description">{{ advert.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>




