<div class="tiles-container">
  <div class="d-inline-block p-1 mb-2" *ngFor="let advert of data">
    <mat-card (click)="onCardClicked(advert.id)">
      <mat-card-header class="card-header-for-tiles">
        <div class="for-tiles-text-center">{{advert.title}}</div>
      </mat-card-header>
      <mat-card-content>
        <div class="img-preview-container mx-auto">
          <img *ngIf="advert.photoUrls.length" [src]="baseUrl + 'images/' + advert.id + '/medium/' +  advert.photoUrls[0]" class="img-preview">            
        </div>  
        <div class="for-tiles-text-center"> {{advert.price | currency}}</div>
      </mat-card-content>
      <mat-card-footer style="text-align: center;">
       
      </mat-card-footer>
    </mat-card>
</div>
</div>