<!-- <mat-toolbar color="basic" class="mt-3">Messages</mat-toolbar> -->


<mat-tab-group (selectedTabChange)="tabchanged($event)">
  <mat-tab label="Unread" ><app-messagesTable [dataSet]="messages" [box]="'inbox'" (openChat)="onChatOpen($event)"></app-messagesTable></mat-tab>
  <mat-tab label="Inbox" ><app-messagesTable [dataSet]="messages" [box]="'inbox'" (openChat)="onChatOpen($event)"></app-messagesTable></mat-tab>
  <mat-tab label="Outbox" ><app-messagesTable [dataSet]="messages" [box]="'outbox'"(openChat)="onChatOpen($event)"></app-messagesTable></mat-tab>
</mat-tab-group>

