<!-- 
<br>
<mat-card class="example-card" class="">


  <mat-toolbar color="primary" class="my-3">
    <mat-toolbar-row>
      <h3  class="m-0">Update Advertisement</h3>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card-content>

<form [formGroup]="advertForm" (ngSubmit)="submit()">
  <mat-form-field class="mr-3" appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput type="text" id="title" name="title" formControlName="title" required>    
  </mat-form-field>

  <div class="d-flex justify-content-between">
  <mat-form-field appearance="outline" class="w-50">
    <mat-label>Category</mat-label>
    <mat-select required (selectionChange)="selectChanged($event)" formControlName="categoryId">  
      <ng-container *ngIf="categories.length">
        <mat-option *ngFor="let cat of categories" [value]="cat.categoryId">
          {{ cat.title }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
    

  <mat-form-field *ngIf="brandsOfCategory.length && brands.length" appearance="outline" class="w-50">
    <mat-label for="title">Brand</mat-label>
      <mat-select class="custom select bg-light form-control"  formControlName="brandCategoryId">      
          <mat-option *ngFor="let brand of brandsOfCategory" [value]="brand.brandCategoryId">
            {{getBrandNameById(brand.brandId)}}
          </mat-option>
      </mat-select>
    </mat-form-field>
</div>

  
<mat-form-field appearance="outline">
  
    <mat-label for="title">Price</mat-label>
    <input matInput type="number" name="" id="price" name="price" class="form-control" placeholder="" aria-describedby="helpId" formControlName="price">
  
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label for="title">Description</mat-label>
    <textarea matInput class="form-control" formControlName="description" rows=3></textarea>
  </mat-form-field>
  
  
      <button type="button" mat-raised-button (click)="fileInput.click()" class="mb-4">Upload Images</button>        
      <input hidden #fileInput type="file" multiple class="custom-file-input" value="Choose am image" id="inputFile1" (change)="onFileAttach($event)" formControlName="photo">

<ng-container *ngIf="advertFromDb">
  <div class="mb-3">
    
    <ng-container *ngIf="pictures.length && imgUrls.length">
      <div *ngFor="let url of imgUrls" class="img-preview-container mr-1">
        <img [src]="url" class="img-preview">
      </div>   
    </ng-container>
    <ng-container *ngIf="!(pictures.length && imgUrls.length)">
      <div *ngFor="let url of imgUrls" class="img-preview-container mr-1">
        <img [src]="baseUrl + 'images/' + advertFromDb.id + '/medium/' +  url" class="img-preview">            
      </div>  
    </ng-container>
  </div>
</ng-container>

  <button mat-raised-button color="primary" type="submit" class="mr-3">Update</button>
  <a routerLink="/ads" mat-raised-button color="basic" type="submit">Cancel</a>
</form>
</mat-card-content>
</mat-card> -->
